button {
    padding: 10px 24px;
}

#button-div {
    display: none;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index: 1;
}

#order-button, #order-summary-button{
    background-color: #f44336;
    border: 2px solid black;
    border-radius: 10px;
    transform: translateY(4px);
}

